<?xml version="1.0" encoding="UTF-8"?>
<suite name="自动化测试报告"> 
   <parameter name="maxRetries"  value="2"/>   
    <listeners>
    <listener class-name="com.letvyidao.listener.TestngListener" /> 
    <listener class-name="com.letvyidao.listener.RetryListener" /> 
  </listeners>   
  <test name="interfacetest">   
  
	<classes>	 

	   <class name="com.letvyidao.inter.DriverApiLogin">
	        <methods>
             <exclude name="testV15VerifyCooperaStatusAndAccessToken"></exclude>
              <exclude name="testV6CarMasterCreateAuthCodeAndLogin"></exclude>
         </methods> 
	   </class>   

	   <class name="com.letvyidao.inter.AppApiInter">
             <methods>
             <exclude name="testV7PriceAll"></exclude>
            
             </methods>
       </class> 

      <class name="com.letvyidao.inter.CategryTools">
      	<methods>
      		<exclude name="testCacheNoDiff"></exclude>
      	</methods>
      
      </class>   
   
      <class name="com.letvyidao.inter.DriverInter"></class>

      
    </classes>
  </test>
</suite>
